<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Post Card</title>
		<link rel="stylesheet" href="styles.css" />
	</head>

	<body>
		<div class="container-fluid">
            <h1><strong>This First Heading Will Catch Your Eye</strong></h1>
                <div class="row">
                    <div class="col-8">Here we type a bunch of fancy words to draw the reader in</div>
                    <div class="col-4">
                        <img src="https://media.istockphoto.com/id/625736338/photo/stack-of-hands-showing-unity.jpg?s=612x612&w=0&k=20&c=20mAQjGRQ5XVKqHe2qFguqGZ4dwto6lxxinciCfnVI0="></img>
                    </div>
                </div>
                <p>Hello, I'm the first_heading.html</p>
        </div>
	</body>
</html>
